* {
  box-sizing: border-box;
}

#container {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  margin: 15px 0 20px 30px;
}

.navbar-brand {
  background-color: grey;
  border: 2px solid black;
  width: 100%;
  height: 150px;
  border-radius: 0;
  position: relative;
}

.heading {
  font-weight: bold;
  font-size: 30px;
}

.tall-section {
  height: 1000px;
  background-color: grey;
  margin: 15px;
}

.that-button {
  position: static !important;
  float: right;
}

.dropdown-menu {
  margin-top: 0px !important;
  width: 100% !important;
  background-color: white;
}

ul > hr {
  border: 1px solid black;
}

.btn:focus {
    background-color: beige;}